In [ ]:
#Assignment 5
#Student of Datatrained -Saurav
#Student of Data Science

In [1]:
# Functions
#   Practice the code given below
#   
#   def square(x):
#      return x*x
#   print(square(4))

In [5]:
def square(num):
    return num**2

In [7]:
print(square(4))

16

In [8]:
# def add_numbers(x,y):
#      sum = x + y
#      return sum
#   num1 = 5
#   num2 = 6
#   print("The sum is", add_numbers(num1, num2))
#

In [9]:
def add_numbers(num1,num2):
    return num1+num2

In [11]:
print("The Sum of ",add_numbers(5,6))

The Sum of  11

In [12]:
#   def greet(name, msg):
#       """This function greets to
#       the person with the provided message"""
#       print("Hello", name + ', ' + msg)
#   greet("Andrew", "Good morning!")
#

In [13]:
def greet(name,message):
    print('Hello ',name," ",message)

In [15]:
greet("Saurav","Call   me  urgently")

Hello  Saurav   Call   me  urgently

In [16]:
#   Task:
#   Write a program to create a function that takes two arguments, name and age, and print their value.
#

In [22]:
def func(name,age):
    print(f"The Name of func is {name} and age is {age}")

In [23]:
func("saurav",23)

The Name of func is saurav and age is 23

In [24]:
#   Task : Write a function absolute_value to find absolute of a given number.
#   Soln.
#   def absolute_value(num):
#       """This function returns the absolute
#       value of the entered number"""
#       if num >= 0:
#           return num
#       else:
#           return -num
#   print(absolute_value(2))
#   print(absolute_value(-4))

In [30]:
def absolute_values(num):
    if num>=0:
        return num
    else:
        return -num

In [26]:
print(absolute_values(2))

2

In [31]:
print(absolute_values(-4))

4

In [33]:
#   Task : write a function multiply to calculate multiplication of two numbers by taking as a
#   arguments.
#   Soln.
#   def multiply(x,y):
#    print"value of x=",x
#    print"value of y=",y
#    return x*y
#   print multiply(2,4)

In [42]:
def multiply(num1,num2):
    print("Value of X =", num1)
    print("Value of Y= ",num2)
    return num1*num2

In [43]:
multiply(2,4)

Value of X = 2
Value of Y=  4

8

In [44]:
#   Task : write a function division to calculate division of two numbers by taking as a arguments.

In [49]:
def divide(arg1,arg2):
    print("The Value of X is ",arg1)
    print("The Value of Y is ",arg2)
    return arg1/arg2

In [51]:
divide(4,2)

The Value of X is  4
The Value of Y is  2

2.0

In [52]:
#   # local variables and global variables
#   def my_func():
#    x = 10
#    print("Value inside function:",x)
#   x = 20
#   my_func()
#   print("Value outside function:",x)

In [56]:
def my_func():
    x=10
    print("Value inside the function called local variable")

In [54]:
x=20
def my_func():
    print("The Value of X is ",x, "and its a global variable")

In [55]:
my_func()

The Value of X is  20 and its a global variable

In [57]:
#   squares = list(map(lambda x: x**2, range(10)))

In [63]:
square=list(map(lambda x:x**2 ,range(10)))

In [64]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
#   squares = [x**2 for x in range(10)]

In [68]:
squares=[x**2 for x in range(10)]

In [69]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
#   Task : Write the above code to find cube of x.
#   sequences = [10,2,8,7,5,4,3,11,0, 1]
#   filtered_result = map (lambda x: x*x, sequences)
#   print(list(filtered_result))

In [71]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_method=map(lambda x:x**3,sequences)
print(list(filtered_method))

[1000, 8, 512, 343, 125, 64, 27, 1331, 0, 1]

In [72]:
#   Task : write the above code for the expression x**3
#   sequences = [10,2,8,7,5,4,3,11,0, 1]
#   filtered_result = filter (lambda x: x > 4, sequences)
#   print(list(filtered_result))

In [74]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_method=filter(lambda x:x>4,sequences)
print(list(filtered_method))

[10, 8, 7, 5, 11]

In [75]:
 #   Task : write the above code for the expression x>5.
#   squares = []
#   for x in range(10):
#   ... squares.append(x**2)
#   print(squares)

In [76]:
sqaures=[]
for x in range(10):
    sqaures.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
#   Task :
#   1. Put the above 4 lines in as user defined function and call the function  
#   2.Given two integer numbers return their product only if the product is equal to or lower than
#   1000, else return their sum.
#   HINT:
#   Create a function that will take two numbers as parameters
#   Next, Inside a function, multiply two numbers and save their product in a product variable
#   Next, use the if condition to check if the product >1000. If yes, return the product
#   Otherwise, use the else block to calculate the sum of two numbers and return it.

In [80]:
def my_func(num1,num2):
    product=num1 * num2
    if  product>1000:
        return product
    else:
        return num1+num2

In [83]:
print("The Result of 1 condition is  ",my_func(25,54))

The Result of 1 condition is   1350

In [84]:
print("The Result of 2 condition is  ",my_func(4,2))

The Result of 2 condition is   6

In [85]:
#3 .
#Task: Check if the first and last number of a list is the same.
#Write a function to return True if the first and last number of a given list is same. 
#If numbers are different then return False.

In [86]:
#numbers_x = [10, 20, 30, 40, 10]

In [88]:
def my_func(numberlist):
    first_num=numberlist[0]
    last_num=numberlist[-1]
    if first_num==last_num:
        print("True")
    else:
        print("False")

In [95]:
numbers_x = [10, 20, 30, 40, 10]
number_y=[75, 65, 35, 75, 30]

In [96]:
my_func(numbers_x)

True

In [97]:
my_func(number_y)

False

In [ ]:
#Student of Datatrained - Saurav
#Student of Data Science
#Date-04-july-2022
#Time-15:06